**/*-preview.*
**/ARO-RP
**/*-installation
**/install-config-templates
**/ocp-installation.tar.gz
**/aro-4-info.txt
**/pull-secret.txt
**/aro-assignment-error-info.txt
client/**
**/*.tar.gz
**/aro-provision.vars
**/aro-logs-workspace-deployment-updated.json
aro-4/onboarding_azuremonitor_for_containers.sh
