**/*-preview.*
**/ARO-RP
**/*-installation
**/install-config-templates
provisioning/ocp-installation.tar.gz
provisioning/aro-4-info.txt
provisioning/pull-secret.txt
provisioning/aro-assignment-error-info.txt
client/**
**/*.tar.gz
**/aro-provision.vars
**/aro-logs-workspace-deployment-updated.json
aro-4/onboarding_azuremonitor_for_containers.sh
